# Install Dependencies
This runs a pip install using the requirements.txt file that installs the dependencies for this notebook. Remove the # when first running this notebook on your machine. Afterward you can add it again.

In [1]:
#!pip install -r requirements.txt

# Docker Setup

remember to navigate into the `./nceiDatabase` directory and execute the command `docker-compose up --build` if it's the first time running this file and `docker-compose up` when have build the docker container previously

# Imports

In [2]:
import numpy as np
import pandas as pd
import psycopg2
from psycopg2 import sql
import os
import requests
from decimal import Decimal
import concurrent.futures

# User Settings

- years: An array of year Numbers that we want to download
- stationsFilePath: the path where the stations data is stored and located
- modifiedStationsFilePath: the path where the modified stations data is stored
- downloadCSVFilePath: where the csv.gz files from the ncei file server should be saved
- modifiedCSVFilePath: where the modified csv files should be saved
- dbname: the name of the database you want to connect to
- dbuser: the user that you want to connect with to the database
- dbpassword: the password for the user
- host: the host address (if running locally use localhost)
- port: the port that the database is exposed on

In [3]:
years = [1949, 1950]
stationsFilePath = "./data/stations/"
modifiedStationsFilePath = "./data/modifiedStations/"
downloadCSVFilePath = "./data/NCEI/ghcn/daily/"
modifiedCSVFilePath = "./data/NCEI/modified/daily/"
dbname = "mydatabase"
dbuser = "myuser"
dbpassword = "mypassword"
host = "localhost"
port = "5432"

# Constants

Don't change these unless you know what you are doing
- httpsLink: The https link to the ncei.noaa folder that contains the zipped daily weather data files

In [4]:
httpsLink = "https://www.ncei.noaa.gov/pub/data/ghcn/daily/by_year/"
possible_years = np.arange(1949, 2020, 1)

# Imports

# Function Definitions for reusability

In [5]:
## These are the Functions to download the data from the website and convert them


def download_stations(file_path_dest="./data/stations/"):
    """
    This function downloads the stations information (readme and ghcnd-stations.txt file) from the NCEI website and saves it in the specified directory
    
    :param file_path_dest: directory where the stations information will be saved
    :return: 
    """
    url = "https://www.ncei.noaa.gov/pub/data/ghcn/daily/ghcnd-stations.txt"
    response = requests.get(url)
    if response.ok:
        filename = url.rsplit('/', 1)[1]
        print(f"data downloaded. Will be saved as {filename} in {file_path_dest}")
        os.makedirs(file_path_dest, exist_ok=True)
        with open(f"{file_path_dest}{filename}", "wb") as f:
            f.write(response.content)
    else:
        print("An error occured while trying to retrieve the data from the internet.")

    url = "https://www.ncei.noaa.gov/pub/data/ghcn/daily/readme.txt"
    response = requests.get(url)
    if response.ok:
        filename = url.rsplit('/', 1)[1]
        print(f"data downloaded. Will be saved as {filename} in {file_path_dest}")
        os.makedirs(file_path_dest, exist_ok=True)
        with open(f"{file_path_dest}{filename}", "wb") as f:
            f.write(response.content)
    else:
        print("An error occured while trying to retrieve the data from the internet.")

    print("Data downloaded and saved in", file_path_dest)
    return


def convert_stations(file_path="./data/stations/", file_path_dest="./data/modifiedStations/"):
    """
    This converts the ghcnd-stations.txt file to a csv file that we can load into the database
    
    :param file_path: The file path where the original ghcnd-stations.txt file is located
    :param file_path_dest: The path where the modified station file should be saved
    :return: 
    """

    # two helper functions
    def conv_str(x):
        return str(x)

    def conv_float(x):
        return float(x)

    # we get this information from the readme.txt file
    column_specs = [
        (0, 11),  # ID
        (12, 20),  # LATITUDE
        (21, 30),  # LONGITUDE
        (31, 37),  # ELEVATION
        (38, 40),  # STATE
        (41, 71),  # NAME
        (72, 75),  # GSN FLAG
        (76, 79),  # HCN/CRN FLAG
        (80, 85)  # WMO ID
    ]
    column_names = [
        'ID', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'STATE', 'NAME',
        'GSN FLAG', 'HCN/CRN FLAG', 'WMO ID'
    ]

    col_conv = {'ID': conv_str,
                'LATITUDE': conv_float,
                'LONGITUDE': conv_float,
                'ELEVATION': conv_float,
                'STATE': conv_str,
                'NAME': conv_str,
                'GSN FLAG': conv_str,
                'HCN/CRN FLAG': conv_str,
                'WMO ID': conv_str,
                }

    path_to_file = f"{file_path}ghcnd-stations.txt"
    df = pd.read_fwf(path_to_file, colspecs=column_specs, names=column_names, converters=col_conv)
    rename_columns = {
        'ID': 'code',
        'LATITUDE': 'lat',
        'LONGITUDE': 'lon',
        'ELEVATION': 'elevation',
        'STATE': 'state',
        'NAME': 'name',
        'GSN FLAG': 'flag1',
        'HCN/CRN FLAG': 'flag2',
        'WMO ID': 'wmo_id'
    }

    df.rename(columns=rename_columns, inplace=True)

    df['wmo_id'] = df['wmo_id'].astype(str)
    df.replace(['None', 'nan'], np.nan, inplace=True)
    df = df.fillna('')

    os.makedirs(file_path_dest, exist_ok=True)
    df.to_csv(f"{file_path_dest}/modified_stations.csv", index=False)
    print(f"saved the modified stations file to {file_path_dest}/modified_stations.csv")
    return


def download_years(array_of_years=None, file_path="./data/climate/script"):
    """
    This function downloads the specified years from the NCEI website and saves them in a csv file in the specified directory
    
    :param array_of_years: an array of years to download
    :param file_path: the directory to save the csv files
    :return: 
    """

    if array_of_years is None:
        array_of_years = [1994]

    for year in array_of_years:
        print(f"...Downloading data from year {year}....")
        url = f"https://www.ncei.noaa.gov/pub/data/ghcn/daily/by_year/{year}.csv.gz"
        response = requests.get(url)
        if response.ok:
            filename = url.rsplit('/', 1)[1]
            print(f"data downloaded. Will be saved as {filename}")
            directory_path = file_path
            os.makedirs(directory_path, exist_ok=True)
            with open(f"{file_path}{filename}", "wb") as f:
                f.write(response.content)

        else:
            print("An error occured while trying to retrieve the data from the internet.")
        print(f"Data from year {year} downloaded and saved.")

    return


def export_downloaded_years(array_of_years=None, file_path='./data/NCEI/ghcn/daily/',
                            file_path_dest="./data/NCEI/modified/daily/"):
    """
    This imports the specified years from the specified source path modifies it and exports them as a csv file in the specified destination directory
    
    :param array_of_years: the years to load and modify
    :param file_path: the directory where the source csv.gz files can be found
    :param file_path_dest: the directory where the modified csv files should be saved
    :return: 
    """

    if array_of_years is None:
        array_of_years = [1994]
    columns = ["stationcode", "datelabel", "param", "value", "mflag", "qflag", "sflag", "time"]
    for year in array_of_years:

        print(f"...Year {year} processing...")
        try:
            print(f"Loading data from year {year}")
            file_path_source = f"{file_path}{year}.csv.gz"
            df = pd.read_csv(file_path_source, names=columns, compression="gzip")
            print(f"Data from year {year} loaded.")

            #convert time to int
            df['time'] = df['time'].fillna(1200)
            df['time'] = df['time'].apply(lambda x: int(Decimal(x)))
            # convert values to float
            df = df.astype({"value": "float32"})

            # cleanse dataset: keep only the parameters of interest, i.e. TMIN, TMAX, PRCP, SNOW
            keep = ["TMIN", "TMAX", "PRCP", "SNOW"]

            df = df[df["param"].isin(keep)]

            scaling_factors = {"TMIN": 0.1, "TMAX": 0.1, "PRCP": 0.1}

            for k, v in scaling_factors.items():
                df.loc[df["param"] == k, "value"] *= v

            df = df.fillna('')

            os.makedirs(file_path_dest, exist_ok=True)
            df.to_csv(f"{file_path_dest}/modified_{year}.csv", index=True, header=False)
            print(f"Export of year {year} finished.")

        except Exception as error:
            print(f"Error: {error}")

    return

In [24]:
## These are the functions that establish the connection to the database and can be used to load the modified data into the database

def connect_to_db(db_name="mydatabase", db_user="myuser", db_password="mypassword", db_host="localhost",
                  db_port="5432"):
    """
    This creates a connection to an existing posgresql database using the provided parameteers
    
    :param db_name: the name of the database
    :param db_user: the user that you want to connect with
    :param db_password: the password of the user
    :param db_host: the host of the database
    :param db_port: the port of the database
    :return: connection, cursor if connection is successful
    """

    try:
        connection = psycopg2.connect(
            dbname=db_name,
            user=db_user,
            password=db_password,
            host=db_host,  # Connect to the host where Docker is running
            port=db_port
        )
        cursor = connection.cursor()
        print(f"Connected to database {db_name} with user {db_user} with password {db_password}")

        return connection, cursor

    except Exception as error:
        print(f"Error: {error}")

    return


def insert_copy(file_path="", table_name="", columns=None):
    """
    Inserts the specified csv file into the specified table
    
    :param file_path: the path to the csv file to be inserted into the database
    :param table_name: the name of the table that we want to insert the data into
    :param columns: the columns of the file
    :return: 
    """
    if columns is None:
        columns = []

    connection, cursor = connect_to_db(dbname, dbuser, dbpassword, host, port)
    print("Connection established.")

    try:

        copy_command = sql.SQL("""
            COPY {table} ({columns}) FROM STDIN WITH CSV HEADER
        """).format(
            table=sql.Identifier(table_name),
            columns=sql.SQL(',').join(map(sql.Identifier, columns))
        )

        print(f"Copying file {file_path} to database {table_name}")
        with open(file_path, 'r') as file:
            cursor.copy_expert(copy_command, file)

        print(f"Insert with copy of file {file_path} to table: {table_name} done.")

        # Commit changes
        connection.commit()

        print(f"Checking if the data was succesfully inserted into the Table.")
        cursor.execute(f'SELECT COUNT(*) FROM "{table_name}"')
        row_count = cursor.fetchone()[0]
        print(f"Row count after insertion in table {table_name}: {row_count}")

    except Exception as error:
        print(f"Error: {error}")
        if connection:
            connection.rollback()

    finally:
        cursor.close()
        connection.close()

    return


def create_stations_table():
    """
    Creates a Station Table in the database
    
    :return: 
    """
    # establish connection to database
    connection, cursor = connect_to_db(dbname, dbuser, dbpassword, host, port)
    print("Connection established.")

    name = "Station"

    # createe Station table if not exist
    try:
        # Define table name and column names
        table_name = sql.Identifier(name)
        columns = [
            sql.Identifier("id"), sql.Identifier("latitude"), sql.Identifier("longitude"),
            sql.Identifier("elevation"), sql.Identifier("state"), sql.Identifier("name"),
            sql.Identifier("gsn_flag"), sql.Identifier("hcn_crn_flag"), sql.Identifier("wmo_id")
        ]

        # Define column types
        column_types = [
            sql.SQL("VARCHAR(100) PRIMARY KEY"), sql.SQL("FLOAT"), sql.SQL("FLOAT"),
            sql.SQL("FLOAT"), sql.SQL("VARCHAR(100)"), sql.SQL("VARCHAR(100)"),
            sql.SQL("VARCHAR(100)"), sql.SQL("VARCHAR(100)"), sql.SQL("VARCHAR(100)")
        ]

        # Create the SQL command
        create_table_command = sql.SQL('''
            CREATE TABLE IF NOT EXISTS {table} (
                {id} {id_type},
                {latitude} {latitude_type},
                {longitude} {longitude_type},
                {elevation} {elevation_type},
                {state} {state_type},
                {name} {name_type},
                {gsn_flag} {gsn_flag_type},
                {hcn_crn_flag} {hcn_crn_flag_type},
                {wmo_id} {wmo_id_type}
            )
        ''').format(
            table=table_name,
            id=columns[0], id_type=column_types[0],
            latitude=columns[1], latitude_type=column_types[1],
            longitude=columns[2], longitude_type=column_types[2],
            elevation=columns[3], elevation_type=column_types[3],
            state=columns[4], state_type=column_types[4],
            name=columns[5], name_type=column_types[5],
            gsn_flag=columns[6], gsn_flag_type=column_types[6],
            hcn_crn_flag=columns[7], hcn_crn_flag_type=column_types[7],
            wmo_id=columns[8], wmo_id_type=column_types[8]
        )

        # Execute the command
        cursor.execute(create_table_command)

        # Commit changes
        connection.commit()
        print(f"{table_name} table created.")

    except Exception as error:
        print(f"Error: {error}")
        if connection:
            connection.rollback()
    finally:
        cursor.close()
        connection.close()

    return


def create_climate_table(year):
    """
    Creates a Climate table for the specified year
    
    :param year: int value of the year
    :return: 
    """
    connection, cursor = connect_to_db(dbname, dbuser, dbpassword, host, port)
    print("Connection established.")

    table_name = f"Climate{year}"

    try:

        # Construct the CREATE TABLE command using psycopg2.sql
        create_table_command = sql.SQL('''
            CREATE TABLE IF NOT EXISTS {table} (
                id SERIAL PRIMARY KEY,
                stationcode VARCHAR(50) REFERENCES station(id),
                datelabel DATE,
                param VARCHAR(10),
                value FLOAT,
                mflag VARCHAR(10),
                qflag VARCHAR(10),
                sflag VARCHAR(10),
                time CHAR(4) 
            )
        ''').format(
            table=sql.Identifier(table_name)
        )

        # Execute the CREATE TABLE command
        cursor.execute(create_table_command)
        print(f"Table {table_name} created successfully.")

        # Commit the transaction
        connection.commit()

    except Exception as error:
        print(f"Error: {error}")
        if connection:
            connection.rollback()

    finally:
        if cursor:
            cursor.close()
        if connection:
            connection.close()

    return table_name


def drop_table(table_name):
    """
    Drops the specified table from the database
    
    :param table_name: The name of the table to bee dropped
    :return: 
    """
    connection, cursor = connect_to_db(dbname, dbuser, dbpassword, host, port)

    try:
        drop_table_command = sql.SQL("DROP TABLE IF EXISTS {table}").format(table=sql.Identifier(table_name))
        cursor.execute(drop_table_command)
        connection.commit()
        print(f"Table {table_name} dropped successfully.")
    except Exception as error:
        print(f"Error: {error}")
        if connection:
            connection.rollback()
    finally:
        cursor.close()
        connection.close()

    return


def count_rows(table_name):
    """
    Prints the count of rows in the specified table.
        
    :param table_name: 
    :return: 
    """
    # connect to database
    connection, cursor = connect_to_db(dbname, dbuser, dbpassword, host, port)
    print("Connection established.")
    try:
        # Construct the COUNT query using psycopg2.sql
        count_command = sql.SQL('SELECT COUNT(*) FROM {table}').format(
            table=sql.Identifier(table_name)
        )

        # Execute the COUNT query
        cursor.execute(count_command)
        row_count = cursor.fetchone()[0]

        # Print the row count
        print(f"The table {table_name} contains {row_count} rows.")

    except Exception as error:
        print(f"Error: {error}")
        if connection:
            connection.rollback()

    finally:
        if cursor:
            cursor.close()
        if connection:
            connection.close()

    return

In [25]:
def get_table_data(years=[], columns=["stationcode"], condition="param = TMAX AND id < 100000"):
    """
    Retrieves data from the SQL database.
        
    :param years: 
    :param columns: 
    :param condition: 

    :return: 
    """
    # connect to database
    connection, cursor = connect_to_db(dbname, dbuser, dbpassword, host, port)
    print("Connection established.")
    try:
        data = {}
        for year in years:
            table_name = f'Climate{year}'
            # Construct the COUNT query using psycopg2.sql
            command = sql.SQL('''
                    SELECT {columns} 
                    FROM {table}
                    WHERE {condition}
                                    
                    ''').format(
                columns=sql.SQL(', ').join(map(sql.Identifier, columns)),
                table=sql.Identifier(table_name),
                condition=sql.SQL(condition)
            )

            # print(command.as_string(cursor.connection))
            # Execute the SELECT query
            cursor.execute(command)
            result = cursor.fetchall()

            data[year] = result

            # Print the result specifications
            print(f"The year {year} has {len(result)} rows for the condition: {condition}.")


    except Exception as error:
        print(f"Error: {error}")
        if connection:
            connection.rollback()

    finally:
        if cursor:
            cursor.close()
        if connection:
            connection.close()

    return data


def split_csv_file(file_path, lines_per_chunk):
    file_base, file_ext = os.path.splitext(file_path)
    with open(file_path, 'r') as f:
        header = f.readline()
        chunk_number = 0
        chunk_lines = []
        for i, line in enumerate(f):
            chunk_lines.append(line)
            if (i + 1) % lines_per_chunk == 0:
                chunk_file_path = f"{file_base}_chunk{chunk_number}{file_ext}"
                with open(chunk_file_path, 'w') as chunk_file:
                    chunk_file.write(header)
                    chunk_file.writelines(chunk_lines)
                chunk_lines = []
                chunk_number += 1
        # Write remaining lines to the last chunk
        if chunk_lines:
            chunk_file_path = f"{file_base}_chunk{chunk_number}{file_ext}"
            with open(chunk_file_path, 'w') as chunk_file:
                chunk_file.write(header)
                chunk_file.writelines(chunk_lines)
    return [f"{file_base}_chunk{chunk_number}{file_ext}" for chunk_number in range(chunk_number + 1)]


def run_parallel_inserts(file_paths, table_name, columns, max_workers=4):
    with concurrent.futures.ThreadPoolExecutor(max_workers=max_workers) as executor:
        futures = [executor.submit(insert_copy, file_path, table_name, columns) for file_path in file_paths]
        for future in concurrent.futures.as_completed(futures):
            try:
                future.result()
            except Exception as e:
                print(f"An error occurred: {e}")

# Code Execution Example

## first adding the stations

first adding the stations

In [26]:
download_stations(stationsFilePath)

data downloaded. Will be saved as ghcnd-stations.txt in ./data/stations/
data downloaded. Will be saved as readme.txt in ./data/stations/
Data downloaded and saved in ./data/stations/

In [27]:
convert_stations(stationsFilePath, modifiedStationsFilePath)

saved the modified stations file to ./data/modifiedStations//modified_stations.csv

In [28]:
create_stations_table()

Connected to database mydatabase with user myuser with password mypassword
Connection established.
Identifier('Station') table created.

In [30]:
file_path = f"{modifiedStationsFilePath}modified_stations.csv"
cols = ["id", "latitude", "longitude", "elevation", "state", "name", "gsn_flag", "hcn_crn_flag", "wmo_id"]
insert_copy(file_path, "Station", cols)

Connected to database mydatabase with user myuser with password mypassword
Connection established.
Copying file ./data/modifiedStations/modified_stations.csv to database Station
Insert with copy of file ./data/modifiedStations/modified_stations.csv to table: Station done.
Checking if the data was succesfully inserted into the Table.
Row count after insertion in table Station: 127994

In [31]:
count_rows('Station')

Connected to database mydatabase with user myuser with password mypassword
Connection established.
The table Station contains 127994 rows.

## Adding some example years

now we are adding some years

In [14]:
download_years(years, downloadCSVFilePath)

...Downloading data from year 1949....
data downloaded. Will be saved as 1949.csv.gz
Data from year 1949 downloaded and saved.
...Downloading data from year 1950....
data downloaded. Will be saved as 1950.csv.gz
Data from year 1950 downloaded and saved.

In [15]:
export_downloaded_years(years, downloadCSVFilePath, modifiedCSVFilePath)

...Year 1949 processing...
Loading data from year 1949
Data from year 1949 loaded.
Export of year 1949 finished.
...Year 1950 processing...
Loading data from year 1950
Data from year 1950 loaded.
Export of year 1950 finished.

## Multi-Threading Tests
- 100000 chunk size: 3:36
- 1000000 chunk size: 3:07
- 10000000 chunk size: > 

- Ohne multi-Threading: 7:22

In [32]:
cols = ["id", "stationcode", "datelabel", "param", "value", "mflag", "qflag", "sflag", "time"]

for year in years:
    table_name = create_climate_table(year)
    print(f"x{year}xy{table_name}y")
    lines_per_chunk = 10000000
    chunk_files = split_csv_file(file_path=f"{modifiedCSVFilePath}/modified_{year}.csv",
                                 lines_per_chunk=lines_per_chunk)
    # f"{modifiedCSVFilePath}/modified_{year}.csv"

    run_parallel_inserts(file_paths=chunk_files, table_name=table_name, columns=cols, max_workers=4)

Connected to database mydatabase with user myuser with password mypassword
Connection established.
Error: relation "station" does not exist

x1949xyClimate1949y
Connected to database mydatabase with user myuser with password mypasswordConnected to database mydatabase with user myuser with password mypassword
Connection established.
Copying file ./data/NCEI/modified/daily//modified_1949_chunk0.csv to database Climate1949

Connection established.
Copying file ./data/NCEI/modified/daily//modified_1949_chunk1.csv to database Climate1949
Error: relation "Climate1949" does not exist

Error: relation "Climate1949" does not exist

Connected to database mydatabase with user myuser with password mypassword
Connection established.
Error: relation "station" does not exist

x1950xyClimate1950y
Connected to database mydatabase with user myuser with password mypassword
Connection established.
Copying file ./data/NCEI/modified/daily//modified_1950_chunk0.csv to database Climate1950
Error: relation "Climate1950" does not exist

Connected to database mydatabase with user myuser with password mypassword
Connection established.
Copying file ./data/NCEI/modified/daily//modified_1950_chunk1.csv to database Climate1950
Error: relation "Climate1950" does not exist

In [17]:
cols = ["id", "stationcode", "datelabel", "param", "value", "mflag", "qflag", "sflag", "time"]

for year in years:
    table_name = create_climate_table(year)
    print(f"x{year}xy{table_name}y")
    insert_copy(file_path=f"{modifiedCSVFilePath}/modified_{year}.csv", table_name=table_name, columns=cols)

Connected to database mydatabase with user myuser with password mypassword
Connection established.
Table Climate1960 created successfully.
x1960xyClimate1960y
Connected to database mydatabase with user myuser with password mypassword
Connection established.
Copying file ./data/NCEI/modified/daily//modified_1960.csv to database Climate1960
Insert with copy of file ./data/NCEI/modified/daily//modified_1960.csv to table: Climate1960 done.
Checking if the data was succesfully inserted into the Table.
Row count after insertion in table Climate1960: 22530601
Connected to database mydatabase with user myuser with password mypassword
Connection established.
Table Climate1961 created successfully.
x1961xyClimate1961y
Connected to database mydatabase with user myuser with password mypassword
Connection established.
Copying file ./data/NCEI/modified/daily//modified_1961.csv to database Climate1961
Insert with copy of file ./data/NCEI/modified/daily//modified_1961.csv to table: Climate1961 done.
Checking if the data was succesfully inserted into the Table.
Row count after insertion in table Climate1961: 23402184

In [20]:
count_rows("Climate1960")

Connected to database mydatabase with user myuser with password mypassword
Connection established.
The table Climate1960 contains 22530601 rows.

In [21]:
count_rows("Climate2001")

Connected to database mydatabase with user myuser with password mypassword
Connection established.
The table Climate2001 contains 23913783 rows.

In [56]:
get_table_data(years=[1960], columns=["id", "stationcode"], condition="param = 'TMAX' AND id < 10000")

Connected to database mydatabase with user myuser with password mypassword
Connection established.
The year 1960 has 518 rows for the condition: param = 'TMAX' AND id < 10000.
{1960: [(3, 'AE000041196'), (6, 'AG000060390'), (10, 'AG000060590'), (14, 'AG000060611'), (17, 'AG000060680'), (21, 'AGE00135039'), (23, 'AGM00060360'), (26, 'AGM00060490'), (28, 'AJ000037575'), (39, 'AJ000037735'), (77, 'AJ000037923'), (87, 'AJ000037984'), (91, 'AJ000037989'), (95, 'ALE00100939'), (97, 'ALE00108905'), (106, 'AM000037686'), (120, 'AM000037781'), (125, 'AM000037789'), (131, 'AM000037801'), (142, 'AM000037959'), (146, 'AO000066390'), (149, 'AO000066422'), (159, 'AQC00914869'), (164, 'AQC00914873'), (173, 'AR000087007'), (175, 'AR000087065'), (177, 'AR000087078'), (180, 'AR000087129'), (185, 'AR000087257'), (188, 'AR000087374'), (190, 'AR000087418'), (192, 'AR000087534'), (196, 'AR000087715'), (198, 'AR000087828'), (200, 'AR000087860'), (202, 'AR000087925'), (204, 'AR000870470'), (207, 'AR000875440'), (209, 'AR000875850'), (211, 'AR000877500'), (216, 'ASN00001005'), (218, 'ASN00001007'), (222, 'ASN00001021'), (233, 'ASN00002012'), (256, 'ASN00003003'), (261, 'ASN00003006'), (282, 'ASN00003030'), (306, 'ASN00004020'), (319, 'ASN00004032'), (324, 'ASN00004035'), (345, 'ASN00005008'), (354, 'ASN00005016'), (357, 'ASN00005017'), (365, 'ASN00005026'), (388, 'ASN00006011'), (399, 'ASN00006025'), (452, 'ASN00007017'), (477, 'ASN00007045'), (487, 'ASN00007057'), (494, 'ASN00007062'), (517, 'ASN00007091'), (564, 'ASN00008025'), (569, 'ASN00008028'), (575, 'ASN00008039'), (587, 'ASN00008051'), (620, 'ASN00008093'), (623, 'ASN00008095'), (651, 'ASN00008138'), (662, 'ASN00008151'), (701, 'ASN00009021'), (715, 'ASN00009034'), (733, 'ASN00009064'), (745, 'ASN00009500'), (757, 'ASN00009510'), (762, 'ASN00009515'), (766, 'ASN00009518'), (769, 'ASN00009519'), (782, 'ASN00009534'), (786, 'ASN00009538'), (789, 'ASN00009541'), (812, 'ASN00009573'), (820, 'ASN00009581'), (831, 'ASN00009592'), (859, 'ASN00009628'), (864, 'ASN00009631'), (900, 'ASN00009787'), (918, 'ASN00010007'), (939, 'ASN00010035'), (967, 'ASN00010073'), (981, 'ASN00010093'), (998, 'ASN00010111'), (1020, 'ASN00010144'), (1027, 'ASN00010152'), (1077, 'ASN00010536'), (1111, 'ASN00010579'), (1125, 'ASN00010592'), (1172, 'ASN00010648'), (1223, 'ASN00011003'), (1226, 'ASN00011004'), (1236, 'ASN00011013'), (1269, 'ASN00012038'), (1276, 'ASN00012046'), (1283, 'ASN00012052'), (1295, 'ASN00012065'), (1303, 'ASN00012071'), (1308, 'ASN00012074'), (1356, 'ASN00013012'), (1361, 'ASN00013017'), (1370, 'ASN00014008'), (1374, 'ASN00014015'), (1415, 'ASN00014626'), (1418, 'ASN00014710'), (1436, 'ASN00014902'), (1451, 'ASN00015034'), (1460, 'ASN00015087'), (1475, 'ASN00015526'), (1501, 'ASN00015590'), (1516, 'ASN00016001'), (1574, 'ASN00017005'), (1591, 'ASN00017031'), (1603, 'ASN00017043'), (1632, 'ASN00018012'), (1636, 'ASN00018014'), (1653, 'ASN00018030'), (1669, 'ASN00018044'), (1694, 'ASN00018070'), (1705, 'ASN00018079'), (1727, 'ASN00018103'), (1734, 'ASN00018110'), (1778, 'ASN00019036'), (1802, 'ASN00019062'), (1852, 'ASN00021014'), (1860, 'ASN00021020'), (1885, 'ASN00021046'), (1921, 'ASN00022006'), (1925, 'ASN00022008'), (1948, 'ASN00022807'), (1965, 'ASN00023000'), (1980, 'ASN00023015'), (1986, 'ASN00023020'), (2000, 'ASN00023034'), (2004, 'ASN00023037'), (2019, 'ASN00023307'), (2034, 'ASN00023321'), (2092, 'ASN00023733'), (2098, 'ASN00023738'), (2106, 'ASN00023745'), (2110, 'ASN00023747'), (2142, 'ASN00024016'), (2185, 'ASN00024536'), (2224, 'ASN00025509'), (2249, 'ASN00026005'), (2263, 'ASN00026019'), (2268, 'ASN00026021'), (2275, 'ASN00026026'), (2288, 'ASN00027005'), (2300, 'ASN00027022'), (2312, 'ASN00028004'), (2326, 'ASN00029009'), (2352, 'ASN00029041'), (2375, 'ASN00029125'), (2408, 'ASN00030036'), (2418, 'ASN00030045'), (2451, 'ASN00031011'), (2456, 'ASN00031016'), (2466, 'ASN00031029'), (2498, 'ASN00031066'), (2528, 'ASN00032004'), (2531, 'ASN00032005'), (2541, 'ASN00032025'), (2556, 'ASN00032040'), (2617, 'ASN00033047'), (2628, 'ASN00033058'), (2636, 'ASN00033065'), (2657, 'ASN00033119'), (2688, 'ASN00034002'), (2725, 'ASN00035027'), (2750, 'ASN00035070'), (2825, 'ASN00036030'), (2904, 'ASN00037043'), (2911, 'ASN00037051'), (2930, 'ASN00038002'), (2933, 'ASN00038003'), (2969, 'ASN00039015'), (2978, 'ASN00039023'), (2992, 'ASN00039039'), (3008, 'ASN00039059'), (3028, 'ASN00039083'), (3033, 'ASN00039085'), (3057, 'ASN00039123'), (3063, 'ASN00039128'), (3116, 'ASN00040004'), (3145, 'ASN00040043'), (3167, 'ASN00040068'), (3206, 'ASN00040112'), (3221, 'ASN00040126'), (3273, 'ASN00040190'), (3279, 'ASN00040197'), (3296, 'ASN00040214'), (3304, 'ASN00040223'), (3444, 'ASN00041023'), (3458, 'ASN00041038'), (3503, 'ASN00041095'), (3509, 'ASN00041103'), (3752, 'ASN00042023'), (3795, 'ASN00043030'), (3825, 'ASN00044010'), (3833, 'ASN00044021'), (3839, 'ASN00044026'), (3933, 'ASN00045015'), (3937, 'ASN00045017'), (3969, 'ASN00046037'), (3975, 'ASN00046043'), (3992, 'ASN00047007'), (4003, 'ASN00047019'), (4025, 'ASN00047048'), (4029, 'ASN00047053'), (4040, 'ASN00048013'), (4054, 'ASN00048030'), (4202, 'ASN00051039'), (4236, 'ASN00052026'), (4260, 'ASN00053027'), (4356, 'ASN00055023'), (4359, 'ASN00055024'), (4386, 'ASN00055054'), (4533, 'ASN00056002'), (4545, 'ASN00056017'), (4674, 'ASN00057021'), (4705, 'ASN00058012'), (4720, 'ASN00058037'), (4750, 'ASN00059001'), (4771, 'ASN00059030'), (4782, 'ASN00059040'), (4811, 'ASN00060026'), (4869, 'ASN00061055'), (4890, 'ASN00061078'), (4897, 'ASN00061086'), (4977, 'ASN00063004'), (4993, 'ASN00063021'), (5007, 'ASN00063039'), (5026, 'ASN00063065'), (5110, 'ASN00064008'), (5133, 'ASN00065012'), (5137, 'ASN00065016'), (5144, 'ASN00065023'), (5147, 'ASN00065026'), (5184, 'ASN00066037'), (5203, 'ASN00066062'), (5251, 'ASN00067033'), (5281, 'ASN00068034'), (5295, 'ASN00068053'), (5348, 'ASN00069018'), (5381, 'ASN00070014'), (5384, 'ASN00070015'), (5432, 'ASN00070080'), (5470, 'ASN00070258'), (5478, 'ASN00071010'), (5526, 'ASN00072150'), (5600, 'ASN00074039'), (5616, 'ASN00074062'), (5623, 'ASN00074069'), (5647, 'ASN00074114'), (5656, 'ASN00074128'), (5686, 'ASN00075031'), (5689, 'ASN00075032'), (5750, 'ASN00076031'), (5767, 'ASN00076047'), (5793, 'ASN00077004'), (5827, 'ASN00077042'), (5858, 'ASN00078031'), (5862, 'ASN00078034'), (5899, 'ASN00079023'), (5913, 'ASN00079040'), (5940, 'ASN00080015'), (5984, 'ASN00081003'), (6037, 'ASN00082001'), (6040, 'ASN00082002'), (6077, 'ASN00082053'), (6082, 'ASN00082056'), (6118, 'ASN00083025'), (6124, 'ASN00083033'), (6147, 'ASN00084016'), (6159, 'ASN00084030'), (6175, 'ASN00084080'), (6222, 'ASN00085072'), (6241, 'ASN00085096'), (6246, 'ASN00085103'), (6289, 'ASN00086038'), (6312, 'ASN00086071'), (6345, 'ASN00086116'), (6386, 'ASN00087005'), (6407, 'ASN00087031'), (6429, 'ASN00087054'), (6486, 'ASN00088036'), (6511, 'ASN00088068'), (6528, 'ASN00089002'), (6543, 'ASN00089018'), (6583, 'ASN00090014'), (6586, 'ASN00090015'), (6607, 'ASN00090044'), (6637, 'ASN00090082'), (6656, 'ASN00090147'), (6699, 'ASN00091057'), (6713, 'ASN00091080'), (6716, 'ASN00091082'), (6725, 'ASN00091094'), (6733, 'ASN00091104'), (6741, 'ASN00091111'), (6744, 'ASN00091116'), (6784, 'ASN00092033'), (6790, 'ASN00092038'), (6796, 'ASN00092045'), (6811, 'ASN00093014'), (6825, 'ASN00094008'), (6829, 'ASN00094010'), (6844, 'ASN00094027'), (6847, 'ASN00094029'), (6860, 'ASN00094041'), (6873, 'ASN00094056'), (6887, 'ASN00094069'), (6916, 'ASN00096002'), (6919, 'ASN00096003'), (6926, 'ASN00096015'), (6929, 'ASN00096021'), (6937, 'ASN00097000'), (6948, 'ASN00097014'), (6960, 'ASN00098001'), (6977, 'AU000005010'), (6980, 'AU000005901'), (6984, 'AU000006306'), (6988, 'AU000011801'), (6992, 'AU000015410'), (6997, 'AU000016402'), (7001, 'AUM00011028'), (7004, 'AUM00011231'), (7007, 'AYM00088968'), (7009, 'AYM00089564'), (7011, 'AYM00089571'), (7013, 'AYM00089664'), (7023, 'AYW00068201'), (7028, 'AYW00086101'), (7036, 'AYW00087701'), (7044, 'AYW00090001'), (7055, 'BC000068328'), (7060, 'BC005847300'), (7071, 'BC008948490'), (7075, 'BDM00078016'), (7084, 'BDW00013602'), (7093, 'BE000006447'), (7107, 'BKM00014652'), (7109, 'BKM00014654'), (7116, 'BMM00048008'), (7118, 'BMM00048042'), (7121, 'BMM00048062'), (7124, 'BMM00048097'), (7127, 'BMM00048112'), (7130, 'BN000005306'), (7133, 'BN000005319'), (7136, 'BN000005331'), (7139, 'BN000005335'), (7142, 'BN000005344'), (7153, 'BOM00026701'), (7167, 'BOM00026850'), (7190, 'BOM00033008'), (7197, 'BOM00033038'), (7202, 'BOM00033105'), (9201, 'BUM00015552'), (9204, 'BUM00015614'), (9208, 'CA001010720'), (9212, 'CA001010780'), (9218, 'CA001011920'), (9222, 'CA001012010'), (9226, 'CA001012040'), (9232, 'CA001012570'), (9236, 'CA001012655'), (9242, 'CA001013720'), (9250, 'CA001016780'), (9254, 'CA001016940'), (9260, 'CA001016990'), (9264, 'CA0010169DK'), (9268, 'CA001017000'), (9272, 'CA001017230'), (9278, 'CA001018595'), (9282, 'CA001018610'), (9289, 'CA001018620'), (9294, 'CA001018640'), (9298, 'CA001018660'), (9302, 'CA001018935'), (9306, 'CA001019010'), (9310, 'CA001020270'), (9319, 'CA001021260'), (9323, 'CA001021320'), (9328, 'CA001021480'), (9332, 'CA001021830'), (9337, 'CA001021950'), (9345, 'CA001022250'), (9353, 'CA001025340'), (9357, 'CA001025370'), (9362, 'CA001025970'), (9366, 'CA001025C70'), (9370, 'CA001026270'), (9377, 'CA001030210'), (9381, 'CA001030220'), (9389, 'CA001030605'), (9395, 'CA001031110'), (9400, 'CA001032730'), (9405, 'CA001033230'), (9409, 'CA001033480'), (9413, 'CA001033485'), (9416, 'CA001035940'), (9420, 'CA001036205'), (9426, 'CA001036210'), (9430, 'CA001036240'), (9434, 'CA001036570'), (9438, 'CA001037650'), (9445, 'CA001038205'), (9452, 'CA001040390'), (9460, 'CA001041050'), (9474, 'CA001046391'), (9478, 'CA001046795'), (9490, 'CA001051350'), (9495, 'CA001054500'), (9500, 'CA001054920'), (9503, 'CA001057050'), (9508, 'CA001058190'), (9512, 'CA001060330'), (9518, 'CA001060840'), (9522, 'CA001062745'), (9529, 'CA001064020'), (9533, 'CA001064289'), (9537, 'CA001064320'), (9541, 'CA001065010'), (9546, 'CA001065670'), (9550, 'CA001066480'), (9561, 'CA001067740'), (9564, 'CA001068130'), (9569, 'CA001072902'), (9573, 'CA001073615'), (9579, 'CA001075520'), (9583, 'CA001077500'), (9588, 'CA001077505'), (9592, 'CA001078070'), (9596, 'CA001080430'), (9600, 'CA001080870'), (9604, 'CA001080930'), (9608, 'CA001083285'), (9612, 'CA001084350'), (9619, 'CA001085835'), (9625, 'CA001086555'), (9629, 'CA001087950'), (9633, 'CA001088010'), (9637, 'CA001088970'), (9641, 'CA001090300'), (9645, 'CA001090660'), (9649, 'CA001092490'), (9654, 'CA001092685'), (9658, 'CA001092970'), (9662, 'CA001093600'), (9666, 'CA001094950'), (9670, 'CA001095412'), (9674, 'CA001095820'), (9678, 'CA001096439'), (9682, 'CA001096450'), (9687, 'CA001096600'), (9691, 'CA001096630'), (9696, 'CA001096660'), (9700, 'CA001098335'), (9704, 'CA001098490'), (9708, 'CA001100030'), (9713, 'CA001100120'), (9717, 'CA001100240'), (9723, 'CA001100440'), (9736, 'CA001101155'), (9744, 'CA001101530'), (9750, 'CA001101890'), (9766, 'CA001104470'), (9770, 'CA001104477'), (9776, 'CA001104555'), (9782, 'CA001105190'), (9788, 'CA001105550'), (9794, 'CA001105663'), (9804, 'CA001106177'), (9809, 'CA001106180'), (9813, 'CA001106300'), (9823, 'CA001107680'), (9827, 'CA001107710'), (9831, 'CA001107785'), (9837, 'CA001108440'), (9841, 'CA001108447'), (9848, 'CA001108453'), (9858, 'CA001108487'), (9874, 'CA001108890'), (9878, 'CA001108910'), (9886, 'CA00110CCCC'), (9890, 'CA001110350'), (9894, 'CA001112625'), (9898, 'CA001113420'), (9902, 'CA001113540'), (9907, 'CA001113550'), (9915, 'CA001114740'), (9922, 'CA001121620'), (9926, 'CA001123360'), (9930, 'CA001123750'), (9934, 'CA001123930'), (9938, 'CA001123980'), (9942, 'CA001123990'), (9946, 'CA001124110'), (9952, 'CA001124860'), (9956, 'CA001124980'), (9960, 'CA001125700'), (9964, 'CA001125760'), (9968, 'CA001125766'), (9972, 'CA001125850'), (9976, 'CA001126150'), (9983, 'CA001126510'), (9988, 'CA001127800'), (9992, 'CA001127830'), (9996, 'CA001128550')]}

some additional stuff that is temporarily here

In [19]:
#for year in years:
#    drop_table(f"Climate{year}")

#drop_table("Station")

Connected to database mydatabase with user myuser with password mypassword
Table Climate1949 dropped successfully.
Connected to database mydatabase with user myuser with password mypassword
Table Climate1950 dropped successfully.
Connected to database mydatabase with user myuser with password mypassword
Table Station dropped successfully.

In [17]:
columns = ["stationcode", "datelabel", "param", "value", "mflag", "qflag", "sflag", "time"]

df = pd.read_csv(f"{downloadCSVFilePath}2000.csv.gz", names=columns, compression="gzip")

In [ ]:
df.head(50)

    stationcode  datelabel param  value mflag qflag sflag  time
0   AE000041196   20000101  TMAX    278   NaN   NaN     I   NaN
1   AE000041196   20000101  TMIN    121   NaN   NaN     I   NaN
2   AE000041196   20000101  TAVG    186     H   NaN     S   NaN
3   AEM00041194   20000101  TMAX    251   NaN   NaN     S   NaN
4   AEM00041194   20000101  TMIN    135   NaN   NaN     S   NaN
5   AEM00041194   20000101  TAVG    194     H   NaN     S   NaN
6   AEM00041217   20000101  TMAX    261   NaN   NaN     S   NaN
7   AEM00041217   20000101  TMIN    130   NaN   NaN     S   NaN
8   AEM00041217   20000101  TAVG    194     H   NaN     S   NaN
9   AEM00041218   20000101  TMAX    261   NaN   NaN     S   NaN
10  AEM00041218   20000101  TMIN    117   NaN   NaN     S   NaN
11  AEM00041218   20000101  TAVG    191     H   NaN     S   NaN
12  AG000060390   20000101  TMAX    153   NaN   NaN     S   NaN
13  AG000060390   20000101  TMIN     -6   NaN   NaN     S   NaN
14  AG000060390   20000101  PRCP      8   NaN   NaN     S   NaN
15  AG000060390   20000101  TAVG     66     H   NaN     S   NaN
16  AG000060590   20000101  TMAX    113   NaN   NaN     S   NaN
17  AG000060590   20000101  TMIN    -30   NaN   NaN     S   NaN
18  AG000060590   20000101  PRCP      0     D   NaN     S   NaN
19  AG000060590   20000101  TAVG     71     H   NaN     S   NaN
20  AG000060611   20000101  TMIN     82   NaN   NaN     S   NaN
21  AG000060611   20000101  PRCP      0     D   NaN     S   NaN
22  AG000060611   20000101  TAVG     98     H   NaN     S   NaN
23  AG000060680   20000101  TMIN     85   NaN   NaN     S   NaN
24  AG000060680   20000101  PRCP      0     D   NaN     S   NaN
25  AG000060680   20000101  TAVG    136     H   NaN     S   NaN
26  AGE00147718   20000101  TMAX    122   NaN   NaN     S   NaN
27  AGE00147718   20000101  TMIN     30   NaN   NaN     S   NaN
28  AGE00147718   20000101  PRCP      0     D   NaN     S   NaN
29  AGE00147718   20000101  TAVG     79     H   NaN     S   NaN
30  AGM00060351   20000101  TMIN     60   NaN   NaN     S   NaN
31  AGM00060351   20000101  PRCP     30   NaN   NaN     S   NaN
32  AGM00060351   20000101  TAVG     87     H   NaN     S   NaN
33  AGM00060355   20000101  TMAX    112   NaN   NaN     S   NaN
34  AGM00060355   20000101  PRCP     79   NaN   NaN     S   NaN
35  AGM00060355   20000101  TAVG     88     H   NaN     S   NaN
36  AGM00060360   20000101  PRCP     79   NaN   NaN     S   NaN
37  AGM00060360   20000101  TAVG     74     H   NaN     S   NaN
38  AGM00060402   20000101  TMAX     98   NaN   NaN     S   NaN
39  AGM00060402   20000101  TMIN     46   NaN   NaN     S   NaN
40  AGM00060402   20000101  TAVG     74     H   NaN     S   NaN
41  AGM00060419   20000101  TMIN     -1   NaN   NaN     S   NaN
42  AGM00060419   20000101  TAVG     27     H   NaN     S   NaN
43  AGM00060425   20000101  TMAX    133   NaN   NaN     S   NaN
44  AGM00060425   20000101  TMIN     21   NaN   NaN     S   NaN
45  AGM00060425   20000101  PRCP      0     D   NaN     S   NaN
46  AGM00060425   20000101  TAVG     61     H   NaN     S   NaN
47  AGM00060430   20000101  TMAX    110   NaN   NaN     S   NaN
48  AGM00060430   20000101  TMIN     20   NaN   NaN     S   NaN
49  AGM00060430   20000101  TAVG     71     H   NaN     S   NaN